<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</span></a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-map-marker"></span> Commuter Map</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-calendar"></span> Trip Planner</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-piggy-bank"></span> Fuel Log</a>
      </li>
    </ul>
  </div>
</nav>
