<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</span></a>
          </li>
          <li>
            <a href="/map"><span class="glyphicon glyphicon-map-marker"></span> Commuter Map</a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#tripPlanner"><span class="glyphicon glyphicon-calendar"></span> Trip Planner</a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#spendingLog"><span class="glyphicon glyphicon-piggy-bank"></span> Spending Log</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
