<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-piggy-bank"></span> Spending</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-dashboard"></span> Fuel Consumption <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Fuel Log</a></li>
            <li><a href="#">Daily Commute</a></li>
            <li><a href="#">Planned Excursions</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-map-marker"></span> Commuter Map</a>
      </li>
    </ul>
  </div>
</nav>
