ul {
  list-style-type: none; }
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; }
  .jumbotron .btn-primary:hover {
    background: #7646c1; }
.jumbotron p {
  color: #d9ccee;
  max-width: 95%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
.jumbotron .lang-logo {
  display: block;
  background: none;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #FFFFFF; }
.jumbotron .lang-logo img {
    max-width: 100%; }
.carousel-inner>.active {
  height: 300px; }
.carousel-control {
  background-color: #532F8C;
  opacity: 1; }
.carousel-control.right, .carousel-control.left {
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); }
.carousel-control .glyphicon-chevron-right{
    margin-right: -40px;}
.carousel-control .glyphicon-chevron-left{
    margin-left: -40px;}
.navbar-brand {
    height: 50px;
    padding: 0px 15px; 
    width:50px; 
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
.nav>li>a{
  padding-left:30px;}
.navbar-toggle{
  margin-right: 30px; }
#map-canvas { height: 500px; width:90%; }
#panel { margin: auto; padding: 1em 0; width:90%; }
#start-input, #end-input {
  width:100%; text-overflow: ellipsis; }
.adp-directions {
  display: none; }
#pie-chart {
  background-color: #ffffff;
  border: 1px solid gray;
  font: 10px sans-serif;
  height: 300px;
  text-shadow: none;
  width: 450px;
}
#pie-chart .total{
  font-size: 18px;
  font-weight: bold;
}
#pie-chart .units{
  fill: gray;
  font-size: 12px;
}
#pie-chart .label{
  fill: #CCC;
  font-size: 12px;
  font-weight: bold;
}
#pie-chart .value{
  font-size: 12px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .jumbotron {
    padding: 30px 0; }
}
@media (max-width: 372px) {
  .jumbotron .lang-logo {
    display:none; }
    .jumbotron p{
      font-size: medium;
    }
    .jumbotron h2 {
      font-size: 24px;
    }
  }