<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>


<div class="container">
  <div class="row" id="dashboard">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-dashboard"></span> Calculate your mileage:</h3>
        <form>
<!--           <div class="form-group">
            <label for="leaseDate">Enter the End Date of your lease:</label>
            <input type="leaseDate" class="form-control" id="leaseDate" placeholder="08/01/2018">
          </div> -->

          <div class="form-group">
          <p>Enter the End Date of your lease:</p>
          <div id="leaseDate"></div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Assumes 3 Year Lease (for now)
            </label>
             <!--<label>
              <input type="checkbox"> 4 Year Lease (48 Month)
            </label>
            <label>
              <input type="checkbox"> 5 Year Lease (60 Month)
            </label>-->
          </div> 

          <div class="form-group">
            <label for="currentMiles">Enter the current mileage of your leased vehicle:</label>
            <input type="currentMiles" class="form-control" id="currentMiles" placeholder="200">
          </div>
          <div class="form-group">
            <label for="targetMiles">Enter the target mileage for the end of the lease:</label>
            <input type="targetMiles" class="form-control" id="targetMiles" placeholder="15000">
          </div>
          <button type="button" class="btn btn-default" id="submitButton">Submit</button>
          <button type="button" class="btn btn-default" id="startOver">Start Over</button>
        <div class="padMe" style="padding-bottom: 10px;"></div>
          <div id="placeholder"></div>
        </form>
        <div class="padMe" style="padding-bottom: 10px;"></div>
    </div>
    <div class="col-md-6">

      <h3><span class="glyphicon glyphicon-list-alt"></span> Results:</h3>

       <div class="alert alert-info text-center" role="alert">
        <div id="todayDate"></div>
        <div id="result"></div>
        <div id="answer"></div>
        <div id="commute"></div>
      </div>
      <div id="pie-chart"></div>
    </div>
  </div> <!-- row -->


<script type="text/javascript">
/* custom vars */
var currentMiles, targetMiles, remainingMiles, averageDailyMiles;
  var today = new Date();
  var diffDays;
  var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec");

  var curr_date = today.getDate();
  var curr_month = today.getMonth();
  var curr_year = today.getFullYear();
  $("#todayDate").html("<p>Today is " + m_names[curr_month] + ". " + curr_date + ", " + curr_year + "</p>");

  $("#leaseDate").datepicker();
  var resultString = "";
  var daysLeft = function() {
    var a = $( "#leaseDate" ).datepicker('getDate', {'inline': true, 'viewMode': 'months'}).getTime();
    var tempDate = new Date(a);
    localStorage.setItem('endDate', tempDate.toDateString());
    var b = today.getTime();
    var c = 24*60*60*1000, // hours per day, minutes per hour, seconds per minute, ms per sec
    diffDays = Math.round((a - b)/c);
    if (diffDays < 0 ) {
      resultString = "<p>Please pick a date in the future.</p>";
    } else {
      resultString = ("<p>You have " + diffDays + " days left on your lease.</p>");
      localStorage.setItem('daysLeft', diffDays);
      daysData.push({"label": "Days Remaining", "value":diffDays});
      daysData.push({"label": "Days Passed", "value":(threeYears - diffDays)});
    } return diffDays;
  };

  $("#submitButton").on("click", function(){
    daysLeft();
    currentMiles = $("#currentMiles").val();
    targetMiles = $("#targetMiles").val();
    remainingMiles = (targetMiles - currentMiles);
    averageDailyMiles = Math.round(remainingMiles/localStorage.daysLeft);
    localStorage.setItem('currentMiles', currentMiles);
    localStorage.setItem('targetMiles', targetMiles);
    localStorage.setItem('remainingMiles', remainingMiles);
    localStorage.setItem('averageDailyMiles', averageDailyMiles);
    $("#answer").html("<p>You need to average less than  " + averageDailyMiles + " miles per day to meet your lease.</p>");
    $("#result").html(resultString);
    generateChart(daysData);
  });

  $('#startOver').on('click', function(){
    localStorage.clear();
  });

  $(document).ready(function() {
      // $('#nav_dashboard').addClass("active");

    if (localStorage.endDate) {
        console.log(localStorage.endDate.valueOf());
        var tempDate2 = localStorage.endDate.valueOf();
       $("#leaseDate").datepicker('setDate', tempDate2);
    }
    if (localStorage.daysLeft) {
        $("#result").html("<p>You entered an end date of " + localStorage.endDate + "</p><p>You have " + localStorage.daysLeft + " days remaining on your lease.</p>");
      };
      if(localStorage.averageDailyMiles) {
        $("#answer").html("<p>Your current mileage is " + localStorage.currentMiles + " and your lease ends at " + localStorage.targetMiles + " miles so you need to drive less than  " + localStorage.averageDailyMiles + " miles per day.</p>");
      };
      if(localStorage.commuteDistance) {
        $("#commute").html("<p>Your daily commute begins at " + localStorage.commuteStart + " and ends at " + localStorage.commuteEnd + " for a distance of " + localStorage.commuteDistance + " miles each way.</p>");

        // comparing expected daily miles to average daily miles
        // distance * 2 for round trip * 5 days commuting per week * total days left / 7 days per week
        var expectedCommuterMiles = localStorage.commuteDistance*10*localStorage.daysLeft/7; 

        milesData.push({"label": "Miles Used", "value": Number(localStorage.getItem('currentMiles'))});
        milesData.push({"label": "Planned Commutes", "value": expectedCommuterMiles});
        milesData.push({"label": "Miles Remaining", "value": (localStorage.remainingMiles - expectedCommuterMiles)});
       $("#placeholder").html("<button type='button' class='btn btn-default' id='generate'>Generate Charts</button>");
        // generateChart(milesData);
      }
          $('#nav_index').removeClass("active");
          $('#nav_dashboard').addClass("active");
          $('#generate').on('click', function(){
            generateChart(milesData);
          })
  });
  </script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <!-- Latest compiled and minified JavaScript -->
    
</body>
</html>