<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/releaseme_logo4_no_road.svg">
    </a>
    <% include ../partials/carousel.ejs %>
    <a type="button" class="btn btn-lg btn-primary" href="#dashboard"><span class="glyphicon glyphicon-dashboard"></span> Let's Go!</a>   
  </div>
</div>

<div class="container">
  <hr>
  <div class="row" id="dashboard">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-dashboard"></span> Calculate your lease:</h3>
        <form>
          <div class="form-group">
            <label for="leaseDate">Enter the 

<!-- <label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Start Date</label>
<label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">--> End Date<!--</label> -->

             of your lease:</label>
            <input type="leaseDate" class="form-control" id="leaseDate" placeholder="08/01/2018">
          </div>

 <!--          <div class="checkbox">
            <label>
              <input type="checkbox"> 3 Year Lease (36 Month)
            </label>
            <label>
              <input type="checkbox"> 4 Year Lease (48 Month)
            </label>
            <label>
              <input type="checkbox"> 5 Year Lease (60 Month)
            </label>
          </div> -->

          <div class="form-group">
            <label for="currentMiles">Enter the current mileage of your leased vehicle:</label>
            <input type="currentMiles" class="form-control" id="currentMiles" placeholder="200">
          </div>
          <div class="form-group">
            <label for="targetMiles">Enter the target mileage for the end of the lease:</label>
            <input type="targetMiles" class="form-control" id="targetMiles" placeholder="15000">
          </div>

          <button type="submit" class="btn btn-default" id="submitButton">Submit</button>
        </form>
        <div class="padMe" style="padding-bottom: 10px;"></div>
    </div>
    <div class="col-md-6">

      <h3><span class="glyphicon glyphicon-info-sign"></span>Re-Lease Me! Results</h3>

       <div class="alert alert-info text-center" role="alert">
        <div id="todayDate"></div>
        <div id="result"></div>
        <div id="answer"></div>
      </div>
<!--       <ul>
        <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Commuter Map</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Trip Planner</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-piggy-bank"></span> Spending Log</a></li>       
      </ul> -->
    </div>
  </div> <!-- row -->


<script type="text/javascript">
var currentMiles, targetMiles, remainingMiles, averageDailyMiles;
  var today = new Date();
  var diffDays;
  var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec");

  var curr_date = today.getDate();
  var curr_month = today.getMonth();
  var curr_year = today.getFullYear();
  $("#todayDate").html("<p>Today is " + m_names[curr_month] + ". " + curr_date + ", " + curr_year + "</p>");

  $("#leaseDate").datepicker();
  var resultString = "";

  var daysLeft = function() {
    var a = $( "#leaseDate" ).datepicker('getDate').getTime();
    var b = today.getTime();
    var c = 24*60*60*1000, // hours per day, minutes per hour, seconds per minute, ms per sec
    diffDays = Math.round((a - b)/c);
    if (diffDays < 0 ) {
      resultString = "<p>Please pick a date in the future.</p>";
    } else {
      resultString = ("<p>You have " + diffDays + " days left on your lease.</p>");
      localStorage.setItem('daysLeft', diffDays);
    } return diffDays;
  };

  $("#leaseDate").on("change", function(){
    daysLeft();
    $("#result").html(resultString);
  });

/* Show results on change of either field, in case the user does them out of order */
  $("#currentMiles").on("change", function(){
    currentMiles = $("#currentMiles").val();
    if (targetMiles) { 
      targetMiles = $("#targetMiles").val();
      remainingMiles = (targetMiles - currentMiles);
      averageDailyMiles = Math.round(remainingMiles/daysLeft());
      $("#answer").html("<p>You need to drive less than  " + averageDailyMiles + " miles per day.</p>");
    } else { 
      return;
    }
  });

  $("#targetMiles").on("change", function(){
    targetMiles = $("#targetMiles").val();
    if (currentMiles) { 
      currentMiles = $("#currentMiles").val();
      remainingMiles = (targetMiles - currentMiles);
      averageDailyMiles = Math.round(remainingMiles/daysLeft());
      $("#answer").html("<p>You need to drive less than  " + averageDailyMiles + " miles per day.</p>");
    } else { 
      return;
    }
  });

/* Replace with database code after determining data structure */
  $('#submitButton').on('click', function(){
    localStorage.setItem('currentMiles', currentMiles);
    localStorage.setItem('targetMiles', targetMiles);
    localStorage.setItem('averageDailyMiles', averageDailyMiles);
  });

  $(document).ready(function() {
      $('#nav_index').addClass("active");
      if (localStorage.averageDailyMiles) {
        $("#result").html("<p>You have " + localStorage.daysLeft + " days left on your lease.</p>");
        $("#answer").html("<p>Your current mileage is " + localStorage.currentMiles + " and your lease ends at " + localStorage.targetMiles + " miles so you need to drive less than  " + localStorage.averageDailyMiles + " miles per day.</p>");
      }
  });
  </script>

</script>

</body>
</html>
