<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/releaseme_logo2.png">
    </a>
    <h1>Calculate your Commute</h1>
    <p>Re-Lease Me lets you enter the ending mileage on your leased car or truck and calculate how to adjust your driving habits to avoid balloon payments at the end of your lease. If you have not yet entered a lease, use <em>Re-Lease Me!</em> to determine what terms are right for you.</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span> End Date of Lease</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Start Date of Lease</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to calculate mileage for your lease</h3>
      <ul>
        <li>First you need to know the end date of your lease <a href="#">Got It!</a></li>

        <li>Enter the current mileage of your leased automobile <a href="#">Got It!</a></li>
        <li>Re-Lease me knows what day it is today, so we can tell you how far you can drive on a daily basis.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> What Else Can I Do with Re-Lease Me?</h3>
      <ul>
        <li><a href="#">Commuter Map</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Enter the usual start- and endpoints of your daily commute to determine the round-trip distance.
  </div>
</div>


</body>
</html>
