<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
<!--     <a href="/" class="lang-logo">
      <img src="/releaseme_logo4_no_road.svg">
    </a> -->
    <% include ../partials/carousel.ejs %>
    <a type="button" class="btn btn-lg btn-primary" href="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Let's Go!</a>   
  </div>
</div>

</body>
</html>
