<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div id="panel">
    <form>
      <div class="form-group">
        <label for="startingPoint">Starting Point</label>
        <input type="start" class="form-control" id="startingPoint" placeholder="Enter starting point (or use current location shown below)">
      </div>
      <div class="form-group">
        <label for="endingPoint">Ending Point</label>
        <input type="end" class="form-control" id="endingPoint" placeholder="Ending Point">
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox"> Round Trip
        </label>
      </div>
      <button type="submit" class="btn btn-default" id="done" onclick="calcRoute();">Calculate</button>
    </form>
  </div>

  <div id="map-canvas" style="margin: 0 auto;"></div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

  <script type="text/javascript">
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var pos = {};

    var newLocation = new google.maps.LatLng(37.7908821,-122.401552);

    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();

      var mapOptions = {
        zoom: 15,
        center: newLocation
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


     directionsDisplay.setMap(map);

      navigator.geolocation.getCurrentPosition(function(position) {
            pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            // add marker here

            var youAreHere = new google.maps.Marker({
              position: pos,
              map: map,
              title: "You are Here."
            });

            map.setCenter(pos);

        // calcRoute();

        
        }, function() {
          handleNoGeolocation(true);
        });

    };

    var calcRoute = function() {
          if (document.getElementById('startingPoint').value != ""){
          var start = pos;
          } else {
          var start = document.getElementById('startingPoint').value;
          }
          var end = document.getElementById('endingPoint').value;
          var request = {
            origin:start,
            destination:end,
            travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(request, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(request);
            } else {
              console.log('something went wrong');
            }
          });
        };

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

	
  <script type="text/javascript">
      $(document).ready(function() {
          $('#nav_map').addClass("active");
      });
  </script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <!-- Latest compiled and minified JavaScript -->
    
</body>
</html>