<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div id="panel">
  <p>If you share your current location, it will serve as the default Starting Point. You may override this feature by editing in the first search box below.</p>
  <p>Enter the location where you typically park on your daily commute in the Ending Point search box below to display commuter mileage, directions and map.</p>
    <input id="start-input" class="controls" type="text" placeholder="Starting Point">
    <div class="padMe" style="padding-bottom: 10px;"></div>
    <input id="end-input" class="controls" type="text" placeholder="Ending Point">
    <div class="padMe" style="padding-bottom: 10px;"></div>
    <button class="btn btn-default" id="go" onclick="calcRoute();">Go</button>
    <div class="padMe" style="padding-bottom: 10px;"></div>
    <div id="commuterResult"></div>
  </div>

  <div id="map-canvas" style="margin: 0 auto;"></div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

  <script type="text/javascript">
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var pos = {};

    var newLocation = new google.maps.LatLng(37.7908821,-122.401552);

    var startInput = /** @type {HTMLInputElement} */(
        document.getElementById('start-input'));
    var endInput = /** @type {HTMLInputElement} */(
        document.getElementById('end-input'));

    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();

      var mapOptions = {
        zoom: 15,
        center: newLocation
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

     directionsDisplay.setMap(map);
     directionsDisplay.setPanel(document.getElementById('commuterResult'));

      navigator.geolocation.getCurrentPosition(function(position) {
            pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            // add marker here

            var youAreHere = new google.maps.Marker({
              position: pos,
              map: map,
              title: "You are Here."
            });

            map.setCenter(pos);

        // calcRoute();

        
        }, function() {
          handleNoGeolocation(true);
        });

    };

    var calcRoute = function() {
          if (startInput != ""){
          var start = startInput.value;
          } else {
          var start = pos;
          }
          var end = endInput.value;
          var request = {
            origin:start,
            destination:end,
            travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
            } else {
              console.log('something went wrong');
            }
          });
        };

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

	
  <script type="text/javascript">
      $(document).ready(function() {
          $('#nav_index').removeClass("active");
          $('#nav_map').addClass("active");
      });
  </script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <!-- Latest compiled and minified JavaScript -->
    
</body>
</html>