<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

     <div id="panel">
          <b>End: </b>
          <select id="end" onchange="calcRoute();">
            <option value="coit tower, san francisco, ca">Coit Tower</option>
            <option value="transamerica building, san francisco, ca">TransAmerica Building</option>
            <option value="180 New Montgomery, San Francisco, CA 94105">180 NM</option>  
            <option value="Golden Gate Park, San Francisco">Golden Gate Park</option>
            <option value="1 Ferry Plaza, San Francisco, CA">Ferry Building</option>
            <option value="AT&T Park, San Francisco">Giants Stadium</option>
          </select>
      </div>

    <div id="map-canvas" style="margin: 0 auto;"></div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script type="text/javascript">
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      var map;
      var pos = {};

      var newLocation = new google.maps.LatLng(37.7908821,-122.401552);

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();

        var mapOptions = {
          zoom: 15,
          center: newLocation
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


       directionsDisplay.setMap(map);

        navigator.geolocation.getCurrentPosition(function(position) {
              pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              // add marker here

              var youAreHere = new google.maps.Marker({
                position: pos,
                map: map,
                title: "You are Here."
              });

              map.setCenter(pos);

          // calcRoute();

          
          }, function() {
            handleNoGeolocation(true);
          });

      };

      var calcRoute = function() {
            var start = pos;
            var end = document.getElementById('end').value;
            var request = {
              origin:pos,
              destination:end,
              travelMode: google.maps.TravelMode.WALKING
            };
            directionsService.route(request, function(request, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(request);
              }
            });
          };


      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

		
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav_map').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <!-- Latest compiled and minified JavaScript -->
    
</body>
</html>