<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Trip Planner</h4>
      </div>
      <div class="modal-body">
        <h2>This feature is under development</h2>
        <p><em>USER SCENARIO:</em> After calculating daily driving needs, the user wants to plan a trip. How will this impact daily driving?</p>
        <p>This can be built on a list view. There will be a button in the header to plan a new trip</p>
        <p>Use Google Maps API like on the map page, allowing user to enter START and END points</p>
        <p>Example: Let's say the results indicate 700 extra miles needed over 2 days.</p>
        <p>Results can be interactive infographics on the Dashboard page. "Upcoming Trips"</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>


	
  <script type="text/javascript">
      $(document).ready(function() {
          $('#nav_dashboard').removeClass("active");
          $('#nav_trips').addClass("active");
      });
  </script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <!-- Latest compiled and minified JavaScript -->
    
</body>
</html>